body {
    background-color: #7CC0FF;
    font-family: 'IBM Plex Mono', monospace;
}

.logo {
    margin-left: 2.5%;
    padding: 1%;
}

.logo img {
    width: 175px;
}

.chart {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}